.user-bio {
  overflow-y: auto;
  padding: 10px 10px 0px 0px;
  max-width: 400px;
  height: 100%;
}

.feed {
  overflow-y: auto;
  padding: 10px 0px;
  max-width: 450px;
}

.friend-suggetions {
  overflow-y: auto;
  padding: 10px;
  max-width: 400px;
}

.active-component-container::-webkit-scrollbar,
.mobile-view::-webkit-scrollbar,
.user-bio::-webkit-scrollbar,
.feed::-webkit-scrollbar,
.friend-suggetions::-webkit-scrollbar,
.main-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

/* //* Tab view */
.tab-view {
  display: flex;
  height: 100%;
}

/* Screen view */
.screen-view {
  display: flex;
  height: 100%;
}

/* Mobile view */
.mobile-view {
  height: 100%;
  overflow: auto;
}

/* //*Nav bar stylings */
.nav-menu-mobile {
  width: 100vw;
  height: 90px;
}

.nav-menu-list-mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  background-color: #000;
  flex: 1;
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

.nav-menu-item-mobile {
  margin: 0px;
  cursor: pointer;
}

.nav-bar-icon {
  width: 24px;
  height: 30px;
  font-weight: bold;
  color: #f0f8ff;
}

.active-component-container {
  height: calc(100vh - 90px);
  overflow-y: auto;
  padding: 10px;
  margin: 0px auto;
}
