.user-card-container {
  display: flex;
  align-items: center;
  border-radius: 12px;
  margin-bottom: 30px;
}

.user-details-container {
  margin-left: 12px;
}

.user-name {
  font-size: 18px;
  color: #60aede;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 8px;
  text-decoration: none;
  display: block;
}

.connection-status {
  font-size: 14px;
  margin: 0px;
  color: #a0c862;
}

.suggetion-section {
  background-color: #fff;
  padding: 40px 20px;
  border-radius: 10px;
  margin-top: 10px;
}

.user-list-text {
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 20px;
  color: #6d6e71;
  margin-bottom: 20px;
}

.friends-suggetion-container {
  width: 100%;
}
