.others-profile-container {
  height: 100vh;
  max-width: 1110px;
  margin: 0px auto;
}

.others-profile-header {
  height: 90px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 2px;
}

.others-profile-pic {
  height: 100%;
  border-radius: 10px;
  width: 70px;
}

.others-profile-icon {
  font-size: 20px;
  color: white;
  margin-right: 20px;
}

.nav-buttons {
  display: flex;
}

.nav-buttons li {
  margin-left: 10px;
}

.others-profile-inner-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: calc(100vh - 92px);
}

.others-bio-cintainer {
  max-width: 400px;
  height: calc(100vh - 92px);
}

.others-post-cintainer {
  overflow-y: auto;
  max-width: 450px;
  height: calc(100vh - 92px);
  margin-left: 10px;
}

.others-profile-btn {
  color: #60aede;
  border: 1px solid #60aede;
  padding: 4px 10px;
  margin: 0px 4px;
  border-radius: 4px;
}

.others-nav-link {
  color: white;
}

@media (max-width: 600px) {
  .others-post-cintainer,
  .others-profile-container,
  .others-bio-cintainer {
    width: 100%;
  }

  /* .others-profile-container {
    padding: 10px;
  } */
}

.others-bio-cintainer::-webkit-scrollbar,
.others-profile-container::-webkit-scrollbar,
.others-post-cintainer::-webkit-scrollbar {
  display: none;
}
